<!-- footer -->
<footer>
  <div class="footer-area">
    <div class="footer-area-left">
      <img
        src="/ssafit/frontend/assets/img/소두곰_배경제거.png"
        alt="소두곰"
        class="footer-bear"
      />
      <p>&copy; 2025 soDoo All rights reserved.</p>
    </div>
    <div class="footer-area-right">
      <h3>도움이 필요하신가요?</h3>
      <li>
        <ul>
          <a href="https://github.com/seoliee" target="_blank"
            >www.seohyun.com</a
          >
        </ul>
        <ul>
          <a href="https://github.com/T3rryAhn" target="_blank"
            >www.terry.com</a
          >
        </ul>
      </li>
    </div>
  </div>
</footer>
