<!-- header -->
<header
  id="header"
  class="d-flex justify-content-between align-items-center p-3 bg-primary"
>
  <!-- 로고+타이틀 전체를 링크로 -->
  <a
    href="/ssafit/frontend/index.html"
    class="d-flex align-items-center text-decoration-none text-white"
  >
    <div class="m-3">
      <img
        src="/ssafit/frontend/assets/img/소두곰_배경제거.png"
        alt="SSAFIT Logo"
        width="50"
        height="50"
      />
    </div>
    <h1 class="m-3">SSAFIT</h1>
  </a>

  <!-- 네비게이션 -->
  <nav class="d-flex gap-3 align-items-center">
    <a
      href="/ssafit/frontend/pages/videos/video-main.html"
      class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover text-white"
      >운동영상</a
    >
    <a
      href="/ssafit/frontend/pages/signup.html"
      class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover text-white"
      >회원가입</a
    >
    <a
      id="loginLink"
      href="/ssafit/frontend/pages/login.html"
      class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover text-white"
      >로그인</a
    >
  </nav>
</header>
