  <div
    id="search-and-filter"
    class="d-flex justify-content-between align-items-baseline mb-3"
  >
    <div id="search-bar" class="input-group w-75 mx-auto">
      <button id="reset-button" class="btn btn-outline-secondary">
        전체보기
      </button>
      <input
        type="text"
        id="search-input"
        class="form-control"
        placeholder="운동 영상 검색"
      />

      <button id="search-button" class="btn btn-primary bg-primary">
        검색
      </button>
      <div class="invalid-feedback">검색 결과가 없습니다.</div>
    </div>
    <div class="text-end my-2">
      <div id="part-filter" class="mb-3"></div>
    </div>
  </div>

  <div id="videos-container" class="row justify-content-center g-3">
    <!-- video cards -->
  </div>
