main {
  background-color: #fafdd6;
  /* 위아래에 패딩 추가 */
  padding-top: 50px; /* 원하는 크기로 조절 */
  padding-bottom: 50px; /* 원하는 크기로 조절 */
}

.container {
  max-width: 600px !important;
  width: 100%;
  margin: 0 auto;
  /* 화면 세로 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}

/* 폼 내부 요소는 너비 100%로 */
form {
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
}
